<div style="text-align:center">
  Hello!
  <codable-timeline class="events-timeline" (onScaleUpdate)="onScaleUpdate($event)" [height]="100" [width]="500" [xStart]="start" [xEnd]="end" [margin]="margin">
    <svg:g *ngFor="let event of events" [attr.transform]="'translate('+x(event.time)+','+(margin.top)+')'">
      <svg:text>{{event.name}}</svg:text>
      <svg:text dy="20">{{event.description}}</svg:text>
      <svg:line y1="22" [attr.y2]="100-margin.top-margin.bottom" stroke="#f00"></svg:line>
    </svg:g>
  </codable-timeline>
</div>

